<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>naruto</title>
</head>
<body>
    <center>
        <h1>i believe i will protect all at any cost</h1>
        <h1>because we are friends haa..</h1>
        <h1><marquee>dattebayo</marquee></h1>
        <a href="{% url 'hinata' %}"><h1>hinata response</h1></a>
        <a href="{% url 'anime:sakura' %}"><h1>sakura response</h1></a>
        <a href="{% url 'anime:sasuke' %}"><h1>sasuke response</h1></a>
    
    </center>
    
</body>
</html>